@import "../../../scss/mixins";

.catalog {
  @include wh100();

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.catalog__title {
  width: 100%; // special for EI11
  @include reset-margin-padding();
  margin-bottom: 37px;

  font-family: 'Exo 2', sans-serif;
  @include fonts(36px, 36px, $font-weight-thin, normal, $color-white);
  text-align: center;
}

.catalog__list {
  width: 100%; // special for IE11
  @include reset-list();
  margin-top: -10px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
}


//
// ADAPTIVE
//
@include media-tablet {

  .catalog__list {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .catalog__item:first-child {
    margin-right: 11%;
  }
}

@include media-pre-desktop {
  .catalog__item:first-child {
    margin-right: 18%;
  }
}

@include media-desktop {

  .catalog {
    justify-content: center;
    align-items: center;
  }

  .catalog__list {
    align-items: center;
  }

  .catalog__item:not(:last-child) {
    margin-right: 6%;
  }
}
