<div class="catalog-item__top-wrap  catalog-item__top-wrap--bg-folded-corner">
  <div class="catalog-item__top  catalog-item__top--item--bg-folded-corner">
    <!--before-->
    <p class="catalog-item__intro">{{item.intro}}</p>
    <p class="catalog-item__trademark">
      <strong><span class="bg-white">{{item.trademark}}</span></strong>
    </p>
    <p class="catalog-item__additive"><span class="bg-white">{{item.additive}}</span></p>
    <div class="catalog-item__benefit">
      <p><span class="bg-white">
        <b>{{item.servingsNumber}}</b> {{getNumEnding(item.servingsNumber, aEndingsServings)}}
      </span></p>
      <p><span class="bg-white">
        <b>{{item.numberOfGiftMice === 1 ? '': item.numberOfGiftMice}}</b>
        {{getNumEnding(item.numberOfGiftMice, aEndingsMouse)}} в подарок
      </span></p>
      <p><span class="bg-white">
        {{item.isClientSatisfiedFlag ? 'заказчик доволен': '&nbsp;'}}
      </span></p>
    </div>
    <div class="catalog-item__weight">
      <p class="catalog-item__weight-value">{{item.weightValue}}</p>
      <p class="catalog-item__weight-measure-unit">{{item.weightMeasureUnit}}</p>
    </div>
  </div>
</div>
<div class="catalog-item__bottom">
  <p class="catalog-item__buy-cat">Чего сидишь? Порадуй котэ, <a class="catalog-item__bottom-link" href="#">купи</a>.</p>
  <p class="visually-hidden  catalog-item__description">{{item.description}}</p>
  <p class="visually-hidden  catalog-item__sold-out">Печалька, {{item.additive}} закончился.</p>
</div>
