@import "../../../scss/mixins";

.catalog-item {
  width: 320px;
}

.catalog-item__top-wrap {
  display: flex;
}

$top-wrap__bg-size: 40px;
$top-wrap__border-radius: 10px;
.catalog-item__top-wrap--bg-folded-corner {
  @include folded-corner($color-pacific-blue, $top-wrap__bg-size, $top-wrap__border-radius);
}

.catalog-item__top-wrap--bg-folded-corner-hover {
  @include folded-corner($color-dodger-blue, $top-wrap__bg-size, $top-wrap__border-radius);
}

.catalog-item__top-wrap--bg-folded-corner-selected {
  @include folded-corner($color-lipstick, $top-wrap__bg-size, $top-wrap__border-radius);
}

$top__border-radius: 8px;
.catalog-item__top {
  @include wh100();
  margin: 3px;

  position: relative;

  &:before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    @include wh100();

    background: transparent url("/assets/img/cat.png") no-repeat -27px 205px;
    border-radius: $top__border-radius;
  }
}

.catalog-item__top--item--bg-folded-corner {
  @include folded-corner($color-white, 40px, $top__border-radius);
}

.catalog-item__intro {
  @include reset-margin-padding();
  padding-top: 20px;
  padding-left: 45px;
  padding-right: 10px;

  @include fonts(14px, $font-height-normal, $font-weight-normal, normal, $color-dove-gray);
  letter-spacing: 1px;
}

.catalog-item__trademark {
  @include reset-margin-padding();
  padding-top: 6px;
  padding-left: 43px;
  padding-right: 10px;
  @include relative-z-index(2);

  @include fonts(48px, $font-height-normal, $font-weight-bold, normal, $color-black);
}

.catalog-item__additive {
  @include reset-margin-padding();
  padding-left: 45px;
  padding-right: 10px;
  @include relative-z-index(2);

  @include fonts(24px, 27px, $font-weight-bold, normal, $color-black);
}

.catalog-item__benefit {
  margin-top: 13px;
  margin-bottom: 288px;
  @include relative-z-index(2);

  p {
    @include reset-margin-padding();
    padding-left: 44px;
    padding-right: 10px;

    @include fonts(14px, 16px, $font-weight-normal, normal, $color-dove-gray);
  }
}

.catalog-item__weight {
  position: absolute;
  z-index: 2;
  bottom: 14px;
  right: 12px;

  display: inline-block;
  width: 80px;
  height: 80px;
  @include reset-margin-padding();

  background-color: $color-pacific-blue;
  border-radius: 50%;
  border-width: 0;

  text-align: center;
  vertical-align: center;
}

.catalog-item__weight--hover {
  background-color: $color-dodger-blue;
}

.catalog-item__weight--selected {
  background-color: $color-lipstick;
}

.catalog-item__weight-value {
  @include reset-margin-padding();
  padding-top: 11px;

  @include fonts(42px, 42px, $font-weight-normal, normal, $color-white);
}

.catalog-item__weight-measure-unit {
  @include reset-margin-padding();
  margin-top: -1px;

  @include fonts(21px, 21px, $font-weight-normal, normal, $color-white);
}

.catalog-item__bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  p {
    display: inline-block;
    @include reset-margin-padding();
    margin-top: 13px;
    margin-bottom: 13px;
    height: 16px;
    @include fonts4(13px, 15px, $font-weight-normal, normal);
  }
}

.catalog-item__buy-cat,
.catalog-item__description {
  color: $color-white;
}

.catalog-item__sold-out {
  color: $color-laser-lemon;
}

.catalog-item__bottom-btn {
  @include reset-margin-padding();
  border: none;
  border-bottom: 1px dashed $color-pacific-blue;

  background-color: transparent;
  color: $color-pacific-blue;
  text-decoration: none;

  font-family: inherit;
  font-weight: inherit;
  font-size: 100%;
  letter-spacing: 0.5px;

  cursor: pointer;

  &:hover,
  &:focus {
    color: $color-dodger-blue;
  }
}

.bg-white {
  background-color: $color-white;
}
